.weather__container {
  @apply w-72 h-min   flex flex-col  items-center  text-xl   bg-white bg-opacity-10 rounded-lg mb-20 text-gray-200 p-5 relative sm:mb-3 lg:flex-row lg:w-full lg:mb-20;
}
.name__container {
  @apply lg:mr-auto lg:w-1/2 lg:flex lg:flex-col lg:items-center;
}
.city__name {
  @apply w-full flex justify-center items-center font-bold text-xl p-3 drop-shadow-tempShadow lg:text-4xl;
}
.weather__img {
  @apply h-32 lg:h-48;
}
.weather__description {
  @apply w-full flex justify-center items-center font-bold text-xl drop-shadow-tempShadow lg:text-2xl;
}
.temperature__container {
  @apply lg:w-1/2 lg:flex lg:flex-col lg:items-center;
}
.temperature {
  @apply w-full flex justify-center items-center h-48 font-bold text-7xl drop-shadow-tempShadow;
}
.save__icon__container {
  @apply absolute  right-0 top-2 text-gray-400 cursor-pointer flex flex-col items-center  w-10 h-10 lg:right-2;
}
.save__icon__img {
  @apply h-8 drop-shadow-tempShadow;
}
