.saved__cities__page {
  @apply bg-bggradient min-h-screen flex flex-col justify-center items-center lg:bg-none lg:min-h-min;
}
.saved__cities__container {
  @apply flex flex-col  items-center lg:flex-row lg:w-4/6;
}
.search__container {
  @apply flex flex-col justify-center items-center  lg:mr-20 lg:border-l-2 lg:border-gray-400 lg:pl-10 lg:flex-wrap;
}
.search__container__cities {
  @apply w-full  flex flex-wrap justify-center mb-20 sm:px-10 sm:mb-5  lg:h-96 lg:text-xl lg:block lg:px-5 lg:overflow-y-auto lg:mb-0 lg:py-2 lg:border-2 lg:border-gray-400 lg:rounded-xl;
}
.search__container__city {
  @apply border-2 rounded-2xl text-gray-400 border-gray-400  h-min  mt-2 p-3 mr-3 cursor-pointer relative pr-10 hover:scale-110 active:bg-gray-400 active:text-white;
}
.saved__city__container {
  @apply flex justify-center sm:w-5/6;
}
.nocities__container {
  @apply font-montser text-white font-bold text-2xl opacity-60 text-center mt-64;
}
.title {
  @apply relative mr-auto ml-auto mb-10  text-white font-normal text-xl before:content-[''] before:bg-save before:bg-no-repeat before:bg-contain before:block before:w-4 before:h-4 before:absolute before:left-[-24px] before:top-[5px] sm:text-xl sm:before:w-5 sm:before:h-5 sm:before:left-[-26px] sm:before:top-[5px] lg:text-3xl lg:before:w-7 lg:before:h-7 lg:before:left-[-35px];
}
.delete__button {
  @apply absolute top-4 right-2 font-bold h-4 w-4 bg-delete bg-no-repeat bg-contain;
}
